.topMenuWrap{
    background-color: #00539f;
    color: #fff;
    text-align: right;
}
.topMenuWrap .navbar-brand{
    color: #fff;
}
.topMenuWrap .navbar-brand:hover{
    color: #fff;
}
.btnColor{
 background-color: #00539f;  
}
.mainBody{
    margin-top: 60px;
}
.displayArea{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    overflow-x: auto;
    gap:35px
}
.fullChatwrap{
    width: 90%;
    max-width: 700px;
}
.fullChatwrap h3{
    text-align:center;
}
.chatWrap{
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 15px;
}
.chatWrap input.form-control{
    border: none;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 10px;
}
.chatWrap input.form-control:focus{
    box-shadow: none;
}
.chatWrap > .row > div:nth-child(2){
    text-align: right;
}
.chatWrap > .row > div:nth-child(2) > button{
    background-color: #00539f;
    color: #fff;
    border: #00539f;
    font-size: large;
}
.jsonWrap{
    margin-bottom: 15px;
    max-height: calc(100vh - 230px);
    overflow-x: auto;
}
.genRate{
    text-align: center;
}
.genRate button{
    width: 100%;
    max-width: 300px;
    background-color: #00539f;
    border: #00539f;
    font-size: large;
    color: #fff;
}
.genRate button:hover{
    width: 100%;
    max-width: 300px;
    background-color: #00539f;
    border: #00539f;
    font-size: large;
    color: #fff;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup-content h3 {
    margin-bottom: 20px;
  }
  
  .popup-content input {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
  }
  
  .popup-content button {
    margin-right: 10px;
    background-color: #00539f;
    color: #fff;
  }
  .popup-content button:hover {
    margin-right: 10px;
    background-color: #00539f;
    color: #fff;
  }


  